---
import '@styles/index.scss';
import '@styles/ui-ux.scss';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>UI/UX</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    </head>
    <body>
        <h1>Best Practices</h1>

        <nav>
            <ul>
                <li><a href="/ui-ux/white-space.html">White Space</a></li>
                <li><a href="/ui-ux/color.html">Color</a></li>
                <li><a href="/ui-ux/contrast.html">Contrast</a></li>
                <li><a href="/ui-ux/visual-hierarchy.html">Visual Hierarchy</a></li>
                <li><a href="/ui-ux/alignment.html">Alignment</a></li>
                <li><a href="/ui-ux/typography.html">Typography</a></li>
            </ul>
        </nav>
    </body>
</html>
